@keyframes hover-1 {
    100% {
        background-image: url(../assets/images/icon-2.png);
        transform: scale(0.9);
    }
}

@keyframes hover-2 {
    100% {
        background-image: url(../assets/images/icon-1.png);
        transform: scale(1.0);
    }
}

#keyboard {
    background:url(../assets/images/bg.png);
    margin: 0 auto;
    padding: 5px;
    width: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.row > button {
    animation-duration: 0.25s;
    background-image: url(../assets/images/icon-1.png);
    background-clip: padding-box;
    background-size: cover;
    border-bottom: 5px solid #FFB9D1;
    border-left: 2px solid #FFB9D1;
    border-right: 5px solid #FFB9D1;
    border-top: 2px solid #FFB9D1;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    height: 50px;
    padding: 5px;
    margin: 5px;
    width: 50px;
}

.row > button:hover {
    cursor: pointer;
}
