@font-face {
    font-family: 'Magneto Bold';
    font-style: italic;
    src: url('../assets/fonts/magneto-bold.ttf');
}

body {
    background-image: url(../assets/images/bg.png);
    background-size: 200px auto;
    font-size: 1em;
}

#menu {
    text-align: center;
}

h1 {
    color: #a000a0;
    font-family: 'Magneto Bold';
    font-size: 4em;
    text-align: center;
}

select {
    border-bottom: 5px solid #c00000;
    border-left: 2px solid #c00000;
    border-right: 5px solid #c00000;
    border-top: 2px solid #c00000;
    border-radius: 10px;
    color: #ff0000;
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}

button {
    background: radial-gradient(#ff0000, #ff8000);
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-size: 2em;
    font-weight: 700;
    margin: 40px auto;
    width: 200px;
}

button:hover {
    background: radial-gradient(#008000, #80ff00);
    cursor: pointer;
    transform: scale(0.9);
}
